<div class="grid grid-cols-12 min-h-screen gap-5">
  <aside class="col-span-2 h-screen bg-blue-500 p-5">
    <nav>
      <ul class="flex flex-col gap-2 text-sm">
        <li class="module-title">
          <p class="text-sm text-white font-medium">Módulos</p>
          <span class="text-xs">Navegação da plataforma</span>
        </li>
        <li [routerLink]="['/plataforma/photos']" routerLinkActive="active">
          Home
        </li>
        <li>Dashboard</li>
        <li>Chat</li>
      </ul>
    </nav>
  </aside>
  <main class="col-span-10">
   
  </main>
</div>
