<fieldset class="w-full relative">
  <label class="mb-2" for="password">{{ label() }}</label>
  <input
    formControlName="username"
    data-test="input"
    (keyup)="setText($event)"
    (blur)="onTouched()"
    class="border mt-1 w-full border-gray-200 border-solid px-4 py-3 rounded-lg outline-blue-500"
    [type]="hide() ? 'password' : 'text'"
    id="password"
  />
  <div class="absolute top-10 right-5">
    @if (hide()) {
    <fa-icon data-test="showPassword" (click)="hide.set(false)" [icon]="faEye" size="lg"></fa-icon>
    }@else {
    <fa-icon (click)="hide.set(true)" data-test="hidePassword" [icon]="faEyeSlash" size="lg"></fa-icon>
    }
  </div>
</fieldset>
