<main class="min-h-screen">
  <section class="grid grid-cols-2">
    <div class="flex flex-col items-end justify-center p-16">
      <div class="max-w-80">
        <img class="mb-8" src="assets/svg/logo.svg" alt="" />
        <router-outlet></router-outlet>
      </div>
    </div>
    <div
      class="bg-blue-500 h-screen flex flex-col p-16 justify-center text-white"
    >
      <div class="w-3/4">
        <h1 class="text-5xl font-bold mb-6">
          Welcome to <br />
          our community
        </h1>
        <p>
          Fuse helps developers to build organized and well coded dashboards
          full of beautiful and rich modules. Join us and start building your
          application today.
        </p>
      </div>
    </div>
  </section>
</main>
