<main class="min-h-screen">
  <section class="grid grid-cols-2">
    <div class="flex flex-col items-end justify-center p-16">
      <div class="max-w-80">
        <img class="mb-8" src="assets/svg/logo.svg" alt="" />
        <router-outlet></router-outlet>
      </div>
    </div>
    <div
      class="bg-blue-500 h-screen flex flex-col p-16 justify-center text-white"
    >
      <div class="w-3/4">
        <h1 class="text-5xl font-bold mb-6">
          Bem-vindo ao <br />
          Social Pictures
        </h1>
        <p>
          Compartilhe e descubra o mundo da fotografia na Social Pictures.
          <br />
          Explore, inspire-se e conecte-se através das imagens.
        </p>
      </div>
    </div>
  </section>
</main>
